## Final Capstone Project for IBM Course

#### First part

Author: Jose Javier Rueda

In [5]:
import urllib.request

In [6]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [7]:
page = urllib.request.urlopen(url)

In [9]:
conda install -c anaconda beautifulsoup4

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - beautifulsoup4


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    beautifulsoup4-4.9.0       |           py36_0         165 KB  anaconda
    ca-certificates-2020.1.1   |                0         132 KB  anaconda
    certifi-2020.4.5.1         |           py36_0         159 KB  anaconda
    openssl-1.1.1g             |       h7b6447c_0         3.8 MB  anaconda
    soupsieve-2.0              |             py_0          33 KB  anaconda
    ------------------------------------------------------------
                                           Total:         4.3 MB

The following NEW packages will be INSTALLED:

  beautifulsoup4     anaconda/linux-64::beautifulsoup4-4.9.0-py36_0
  soupsieve          anaconda/noarch::soupsieve-2.0-py_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    conda-forge::ca-certificates-2020.4.5~ --> anaconda::ca-certificates-2020.1.1-0
  certifi            conda-forge::certifi-2020.4.5.1-py36h~ --> anaconda::certifi-2020.4.5.1-py36_0
  openssl            conda-forge::openssl-1.1.1g-h516909a_0 --> anaconda::openssl-1.1.1g-h7b6447c_0



Downloading and Extracting Packages
certifi-2020.4.5.1   | 159 KB    | ##################################### | 100%
soupsieve-2.0        | 33 KB     | ##################################### | 100%
ca-certificates-2020 | 132 KB    | ##################################### | 100%
openssl-1.1.1g       | 3.8 MB    | ##################################### | 100%
beautifulsoup4-4.9.0 | 165 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [41]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page)

In [23]:
#print(soup.prettify())

In [42]:
data_table=soup.find('table', class_='wikitable sortable')
#data_table

In [80]:
A=[]
B=[]
C=[]

for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [81]:
import pandas as pd
df=pd.DataFrame(A,columns=['PC'])
df['B']=B
df['N']=C
df.head()

      PC                   B                            N
0  M1A\n      Not assigned\n                           \n
1  M2A\n      Not assigned\n                           \n
2  M3A\n        North York\n                  Parkwoods\n
3  M4A\n        North York\n           Victoria Village\n
4  M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [82]:
df["Postal Code"]=df["PC"].str.replace('\n', '')
df["Borough"]=df["B"].str.replace('\n', '')
df["Neighborhood"]=df["N"].str.replace('\n', '')
df.drop(['PC', 'B', 'N'], axis=1, inplace=True)

In [83]:
df.drop(df[df.Borough == 'Not assigned'].index, inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [84]:
df.shape

(103, 3)

In [85]:
geo_info=pd.read_csv('http://cocl.us/Geospatial_data')
geo_info.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [88]:
df_geo = df.merge(geo_info, left_on='Postal Code', right_on='Postal Code')
df_geo.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494